/*
Created by:
    Tobel Atnafu               Weston Rainer              Brent Schleper               Griffin Burkhardt
    atnafut1@mymail.nku.edu    rainerw1@mymail.nku.edu    schleperb1@mymail.nku.edu    burkhardtg1@nku.edu
*/

/*Fonts*/

@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400');
/**/

/*Colors
Dark grey: #1a1a1a;
Blue: #08a0e9;
White: white;
*/

/*HTML & Body*/

html, body {
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: #fff;
}

/*Main*/

main {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

/*Google Map*/

#googleMap {
  width: 100%;
  height: 100%;
  background-color: #fff;
}

/*Loading icon*/

.loader-background {
  background-color: #fff;
  padding: 5px;
  border-radius: 50px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  box-shadow: 0px 0px 20px #fff;
}

.loader {
  display: block;
  border: 2px solid lightgray;
  border-radius: 50%;
  border-top: 2px solid #307a59;
  width: 50px;
  height: 50px;
  -webkit-animation: spin 1.7s linear infinite;
  animation: spin 1.7s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*Search navigation*/

.search-nav {
  background-color: #fff;
  border-top: 1px solid lightgrey;
  color: black;
  height: 60px;
  flex-wrap: wrap;
  padding: 0px 20px 0px 0px;
}
.title {
  background-color: #3D9970;
  color: #fff;
  font-weight: 300;
  font-size: 28px;
  height: 60px;
  width: 65px;
  float: left;
}
.title-abs {
  color: #fff;
  position: absolute;
  font-weight: 300;
  bottom: 16px;
  left: 16px;
  font-size: 25px;
}
.parallelogram {
  border-right: 2px solid #307a59;
  display: block;
  margin-left: -5px;
  margin-right: 15px;
  float: left;
	width: 25px;
	height: 60px;
	transform: skew(10deg);
	background: #3D9970;
}
.form-row {
  display: table-cell;
  height: 60px;
  vertical-align: middle;
  padding-right: 20px;
}
.form-item {
  float: left;
  text-align: center;
}
.form-item button {
  padding: 7px 19px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  font-size: 18px;
  transition: all 0.3s ease;
  border: none;
  color: black;
  background-color: inherit;
}
#week {
  border-left: 1px solid lightgray;
}
#today {
  border-left: 1px solid lightgray;
}
.form-item button:focus {
  outline: none;
}
.form-item button:hover {
  color: #307a59;
  cursor: pointer;
}
#search-button {
  border: 1px solid #307a59;
  background-color: #3D9970;
  color: white;
}
#search-button {
  font-weight: 300;
  border-radius: 50px;
}
#info-button {
  border: none;
  color: grey;
}
#analytics {
  color: lightgray;
}

input {
  border: none;
  border-bottom: 1px solid lightgray;
  color: black;
  background-color: inherit;
  transition: all 0.3s ease;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
  font-weight: 300;
  margin-right: 15px;
}
input::after {
  margin-right: 0px;
}
input:hover {
  border-bottom: 1px solid #307a59;
}
input:focus {
  outline: none;
}
.input-disc {
  color: lightgray;
  font-size: 14px;
  text-align: left;
}

/*Input line widths*/

#location {
  width: 150px;
}

#category {
  width: 150px;
}

/*Input errors*/

input.location-error, input.category-error, input.location-error:hover, input.category-error:hover {
  border-bottom: 1px solid red;
}

/*Input active*/

input.category-active, input.location-active {
  border-bottom: 1px solid #307a59;
}

@media only screen and (max-width: 500px) {
  body, html {
    margin: 0;
    padding: 0;
    overflow-y: hidden;
    overflow-x: hidden;
    clear: both;
  }
  .nav-container {
    padding: 0px 10px;
  }
  .display-logo {
    display: none;
  }
  .display-text {
    display: none;
  }
  .search-nav {
    min-width: 0px;
  }
  .form-row {
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
    padding: 0;
  }
  .form-item {
    display: inline-block;
    margin-right: 0;
  }
  .fa-angle-double-down {
    display: none;
  }
  #googleMap {
    min-width: 0px;
  }
  #search-button {
    width: 100%;
    font-weight: bold;
  }
  #today, #week {
    padding: 7px 35px;
    font-weight: 300;
  }
  input {
    -webkit-appearance: none;
    border-radius: 0;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
  }
  .loader-background {
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  input[type=text] {
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
  }
}
